/*--index--*/
#carousel-generic, #carousel{
	height: 400px;	
}

/*--index_content--*/
#login {
	position: fixed;
	top: 50px;
	right: 100px;
	font-size: 50px;
}

/*--footer--*/
.footer{
	background: #001C32;
	padding:3% 0;
}
.footer-grid h3 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:20px;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: normal;
}
.footer-grid p {
	font-size: 0.875em;
	color: #97C3D9;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
.footer-lastgrid {
	margin: 0;
}
.footer-grid {
	float: left;
	width: 23%;
	margin-right: 2%;
}
.footer-grid ul li a {
	display: block;
	padding: 10px 0px;
	border-bottom: 1px dotted #1A3347;
	font-size: 0.725em;
	color: #97C3D9;
	font-family: Arial, Helvetica, sans-serif;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform: uppercase;
}
.footer-grid ul li a:hover {
	color: #fff;
}