<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Dao 层配置  -->
	<bean id="userDao" class="com.wt.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="orderDao" class="com.wt.dao.OrderDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="adminDao" class="com.wt.dao.AdminDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Service 层配置  -->
	<bean id="userService" class="com.wt.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="orderService" class="com.wt.service.OrderService">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	
	<bean id="adminService" class="com.wt.service.AdminService">
		<property name="adminDao" ref="adminDao"></property>
	</bean>

	<!-- Action 部分的配置  -->
	<bean id="userAction" class="com.wt.action.UserAction"
		  scope="prototype">
		  <property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="orderAction" class="com.wt.action.OrderAction"
		  scope="prototype">
		  <property name="orderService" ref="orderService"></property>
	</bean>
	
	<bean id="adminAction" class="com.wt.action.AdminAction"
		  scope="prototype">
		  <property name="adminService" ref="adminService"></property>
		  <property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="fileHandleAction" class="com.wt.fileHandle.FileHandle"
		  scope="prototype">
		  <property name="userService" ref="userService"></property>
	</bean>
	
	<!-- json 数据管理的配置  -->
	<bean id="loginJsonHandle" class="com.wt.jsonHandle.LoginJsonHandle"
		  scope="prototype">
		  <property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="registerJsonHandle" class="com.wt.jsonHandle.RegisterJsonHandle"
		  scope="prototype">
		  <property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="adminLoginJsonHandle" class="com.wt.jsonHandle.AdminLoginJsonHandle"
		  scope="prototype">
		  <property name="adminService" ref="adminService"></property>
	</bean>
	
	<bean id="userValidate" class="com.wt.jsonHandle.UserValidate"
		  scope="prototype">
		  <property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="jsonApplyResetPassword" class="com.wt.jsonHandle.ApplyResetPasswordJsonHandle"
		  scope="prototype">
		  <property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="jsonResetPassword" class="com.wt.jsonHandle.ResetPasswordJsonHandle"
		  scope="prototype">
		  <property name="userService" ref="userService"></property>
	</bean>

</beans>
