h1, h2, h3 {
	text-align: center;
}

.navigation {
	height: 50px;
}

.navigation-a {
	bottom: 20px;
}

#login-a {
	left: 100px;
	bottom: 20px;
}

#nav-ul {
	padding-left: 60px;
}

.more {
	 margin-left: auto; 
	 margin-right: auto;
}

h5 {
	text-align: right;
	color: inherit;
}

.main {
	margin-left: 150px;
}




